/* *
 * @name DRVUG DISCORD
 * @author DRVUG
 * @version 0.1.2
 * @description Blood for Discord.
 * @source https://github.com/mkalinowski44/drvug-discord
*/

:root {
  --theme-version: 'v0.1.3';
}

/* Colors */
:root {
  --theme-accent: 0;
  --lightness-factor: 0.9;
  --brand-100-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*87.8%) calc(var(--lightness-factor)*88.2%);
  --brand-130-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*97.5%) calc(var(--lightness-factor)*86.9%);
  --brand-160-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*94.6%) calc(var(--lightness-factor)*84.9%);
  --brand-200-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*93.3%) calc(var(--lightness-factor)*82.9%);
  --brand-230-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*97%) calc(var(--lightness-factor)*81%);
  --brand-260-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*96.2%) calc(var(--lightness-factor)*78.6%);
  --brand-300-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*96.1%) calc(var(--lightness-factor)*75.9%);
  --brand-330-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*95.1%) calc(var(--lightness-factor)*71.6%);
  --brand-345-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*95.2%) calc(var(--lightness-factor)*68.8%);
  --brand-360-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*96.1%) calc(var(--lightness-factor)*67.5%);
  --brand-400-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*96.1%) calc(var(--lightness-factor)*61.8%);
  --brand-430-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*95.7%) calc(var(--lightness-factor)*59.8%);
  --brand-460-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*95.5%) calc(var(--lightness-factor)*57.5%);
  --brand-500-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*95.6%) calc(var(--lightness-factor)*50.7%);
  --brand-530-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*76.7%) calc(var(--lightness-factor)*48.8%);
  --brand-560-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*81.4%) calc(var(--lightness-factor)*45.4%);
  --brand-600-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*76.7%) calc(var(--lightness-factor)*34.1%);
  --brand-630-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*76.7%) calc(var(--lightness-factor)*28.2%);
  --brand-660-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*77.1%) calc(var(--lightness-factor)*23.3%);
  --brand-700-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*77%) calc(var(--lightness-factor)*20.9%);
  --brand-730-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*76.8%) calc(var(--lightness-factor)*18.3%);
  --brand-760-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*76.9%) calc(var(--lightness-factor)*16.2%);
  --brand-800-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*77.5%) calc(var(--lightness-factor)*14.4%);
  --brand-830-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*77.4%) calc(var(--lightness-factor)*11.9%);
  --brand-860-hsl: var(--theme-accent) calc(var(--saturation-factor, 1)*76.9%) calc(var(--lightness-factor)*9.6%);

  --primary-100-hsl: 0 calc(var(--saturation-factor, 1)*0%) 97.6%;
  --primary-130-hsl: calc(var(--theme-accent) + 0) calc(var(--saturation-factor, 1)*1%) calc(var(--lightness-factor)*95.5%);
  --primary-160-hsl: calc(var(--theme-accent) - 10) calc(var(--saturation-factor, 1)*2%) calc(var(--lightness-factor)*92.9%);
  --primary-200-hsl: calc(var(--theme-accent) - 4) calc(var(--saturation-factor, 1)*3%) calc(var(--lightness-factor)*90%);
  --primary-230-hsl: calc(var(--theme-accent) - 10) calc(var(--saturation-factor, 1)*3%) calc(var(--lightness-factor)*87.1%);
  --primary-260-hsl: calc(var(--theme-accent) - 6) calc(var(--saturation-factor, 1)*5%) calc(var(--lightness-factor)*83.7%);
  --primary-300-hsl: calc(var(--theme-accent) - 10) calc(var(--saturation-factor, 1)*6%) calc(var(--lightness-factor)*78.8%);
  --primary-330-hsl: calc(var(--theme-accent) - 5) calc(var(--saturation-factor, 1)*7%) calc(var(--lightness-factor)*73.3%);
  --primary-345-hsl: calc(var(--theme-accent) - 6) calc(var(--saturation-factor, 1)*8.4%) calc(var(--lightness-factor)*67.5%);
  --primary-360-hsl: calc(var(--theme-accent) - 6) calc(var(--saturation-factor, 1)*3.1%) calc(var(--lightness-factor)*51.2%);
  --primary-400-hsl: calc(var(--theme-accent) + 3) calc(var(--saturation-factor, 1)*5.8%) calc(var(--lightness-factor)*42.9%);
  --primary-430-hsl: calc(var(--theme-accent) + 9) calc(var(--saturation-factor, 1)*4.8%) calc(var(--lightness-factor)*34.9%);
  --primary-460-hsl: calc(var(--theme-accent) + 8) calc(var(--saturation-factor, 1)*5.2%) calc(var(--lightness-factor)*28%);
  --primary-500-hsl: calc(var(--theme-accent) + 8) calc(var(--saturation-factor, 1)*6%) calc(var(--lightness-factor)*22.5%);
  --primary-530-hsl: calc(var(--theme-accent) + 7) calc(var(--saturation-factor, 1)*6.5%) calc(var(--lightness-factor)*16.3%);
  --primary-560-hsl: calc(var(--theme-accent) + 5) calc(var(--saturation-factor, 1)*6.7%) calc(var(--lightness-factor)*14.5%);
  --primary-600-hsl: calc(var(--theme-accent) + 3) calc(var(--saturation-factor, 1)*6.7%) calc(var(--lightness-factor)*11%);
  --primary-630-hsl: calc(var(--theme-accent) + 0) calc(var(--saturation-factor, 1)*6.5%) calc(var(--lightness-factor)*9%);
  --primary-645-hsl: calc(var(--theme-accent) + 0) calc(var(--saturation-factor, 1)*7%) calc(var(--lightness-factor)*8%);
  --primary-660-hsl: calc(var(--theme-accent) + 8) calc(var(--saturation-factor, 1)*6.7%) calc(var(--lightness-factor)*5.8%);
  --primary-700-hsl: calc(var(--theme-accent) + 5) calc(var(--saturation-factor, 1)*6.3%) calc(var(--lightness-factor)*6.8%);
  --primary-730-hsl: calc(var(--theme-accent) + 5) calc(var(--saturation-factor, 1)*7.1%) calc(var(--lightness-factor)*4%);
  --primary-760-hsl: calc(var(--theme-accent) + 0) calc(var(--saturation-factor, 1)*6.4%) calc(var(--lightness-factor)*3%);
  --primary-800-hsl: calc(var(--theme-accent) + 0) calc(var(--saturation-factor, 1)*8.1%) calc(var(--lightness-factor)*1%);
  --primary-830-hsl: calc(var(--theme-accent) + 20) calc(var(--saturation-factor, 1)*4%) calc(var(--lightness-factor)*0.7%);
  --primary-860-hsl: calc(var(--theme-accent) + 20) calc(var(--saturation-factor, 1)*7.7%) calc(var(--lightness-factor)*0.2%);
  --primary-900-hsl: 0 calc(var(--saturation-factor, 1)*0%) 0.8%;

  --background-message-hover: hsl(var(--primary-900-hsl)/0.18);
  --text-link: var(--brand-400);

  --title-bg-image: url('https://mkalinowski44.github.io/drvug-discord/img/title-bg.png');
  --primary-bg-image: url('https://mkalinowski44.github.io/drvug-discord/img/primary-bg.png');
  --sidebar-bg-image: url('https://mkalinowski44.github.io/drvug-discord/img/sidebar-bg.png');
  --octagram-image: url('https://mkalinowski44.github.io/drvug-discord/img/octagram.png');

  --chat-background: hsla(0, 80%, 6%);
  --scrollbar-thumb-color: hsla(0, 90%, 10%);
  --sidebar-scrollbar-thumb-color: hsla(0, 90%, 20%);
}

.theme-dark .container-2IKOsH, .theme-dark .header-3xB4vB {
  background: inherit;
}

/* Plugins */
/* Plugin: Members Count */
.wordmarkWindows-2dq6rw {
  display: flex;
}
.wordmarkWindows-2dq6rw:before {
  content: "DRVUG";
  display: block;
  color: var(--bg-overlay-1,var(--background-secondary-alt));
  font-size: 10px;
  font-weight: 800;
  position: relative;
  top: 1px;
  height: 8px;
  padding: 3px;
  border-radius: 4px;
  background: var(--text-muted);
}
.wordmarkWindows-2dq6rw:after {
  content: var(--theme-version);
  display: block;
  color: var(--text-muted);
  font-size: 10px;
  font-weight: 800;
  position: relative;
  top: 1px;
  height: 8px;
  padding: 3px;
}

#vc-membercount {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px !important;
  margin-right: -8px;
  z-index: 1;
  position: relative;
  margin-bottom: -50px !important;
}

#vc-membercount > div {
  padding: 8px;
  border-radius: 6px;
  display: block;
  box-sizing: border-box;
  background: hsl(var(--primary-700-hsl)/0.5);
  border: 1px solid hsl(var(--primary-360-hsl)/0.1);
}

#vc-membercount > div > span {
  margin-left: 0 !important;
}

/* Plugin: Read all */
.scroller-3X7KbA .button-ejjZWC {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-left: 12px !important;
  background-color: var(--background-primary);
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='none'%3E%3Crect width='24' height='24' fill='none'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.25007 2.38782C8.54878 2.0992 10.1243 2 12 2C13.8757 2 15.4512 2.0992 16.7499 2.38782C18.06 2.67897 19.1488 3.176 19.9864 4.01358C20.824 4.85116 21.321 5.94002 21.6122 7.25007C21.9008 8.54878 22 10.1243 22 12C22 13.8757 21.9008 15.4512 21.6122 16.7499C21.321 18.06 20.824 19.1488 19.9864 19.9864C19.1488 20.824 18.06 21.321 16.7499 21.6122C15.4512 21.9008 13.8757 22 12 22C10.1243 22 8.54878 21.9008 7.25007 21.6122C5.94002 21.321 4.85116 20.824 4.01358 19.9864C3.176 19.1488 2.67897 18.06 2.38782 16.7499C2.0992 15.4512 2 13.8757 2 12C2 10.1243 2.0992 8.54878 2.38782 7.25007C2.67897 5.94002 3.176 4.85116 4.01358 4.01358C4.85116 3.176 5.94002 2.67897 7.25007 2.38782ZM15.7071 9.29289C16.0976 9.68342 16.0976 10.3166 15.7071 10.7071L12.0243 14.3899C11.4586 14.9556 10.5414 14.9556 9.97568 14.3899L11 13.3656L9.97568 14.3899L8.29289 12.7071C7.90237 12.3166 7.90237 11.6834 8.29289 11.2929C8.68342 10.9024 9.31658 10.9024 9.70711 11.2929L11 12.5858L14.2929 9.29289C14.6834 8.90237 15.3166 8.90237 15.7071 9.29289Z' fill='%23CAC6C7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.scroller-3X7KbA .button-ejjZWC:hover {
  background-color: var(--brand-experiment);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='none'%3E%3Crect width='24' height='24' fill='none'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.25007 2.38782C8.54878 2.0992 10.1243 2 12 2C13.8757 2 15.4512 2.0992 16.7499 2.38782C18.06 2.67897 19.1488 3.176 19.9864 4.01358C20.824 4.85116 21.321 5.94002 21.6122 7.25007C21.9008 8.54878 22 10.1243 22 12C22 13.8757 21.9008 15.4512 21.6122 16.7499C21.321 18.06 20.824 19.1488 19.9864 19.9864C19.1488 20.824 18.06 21.321 16.7499 21.6122C15.4512 21.9008 13.8757 22 12 22C10.1243 22 8.54878 21.9008 7.25007 21.6122C5.94002 21.321 4.85116 20.824 4.01358 19.9864C3.176 19.1488 2.67897 18.06 2.38782 16.7499C2.0992 15.4512 2 13.8757 2 12C2 10.1243 2.0992 8.54878 2.38782 7.25007C2.67897 5.94002 3.176 4.85116 4.01358 4.01358C4.85116 3.176 5.94002 2.67897 7.25007 2.38782ZM15.7071 9.29289C16.0976 9.68342 16.0976 10.3166 15.7071 10.7071L12.0243 14.3899C11.4586 14.9556 10.5414 14.9556 9.97568 14.3899L11 13.3656L9.97568 14.3899L8.29289 12.7071C7.90237 12.3166 7.90237 11.6834 8.29289 11.2929C8.68342 10.9024 9.31658 10.9024 9.70711 11.2929L11 12.5858L14.2929 9.29289C14.6834 8.90237 15.3166 8.90237 15.7071 9.29289Z' fill='%23ffffff'/%3E%3C/svg%3E");
  border-radius: 18px;
  position: relative;
}

.scroller-3X7KbA .button-ejjZWC:active {
  transform: translateY(1px) translateZ(0);
}

/* Plugin: show devices */
.vc-platform-indicator {
  display: flex;
  align-items: center;
}

.vc-platform-indicator svg[aria-label="Mobile"] {
  max-width: 12px;
  max-height: 12px;
}
.vc-platform-indicator svg[aria-label="Desktop"] {
  max-width: 15px;
  max-height: 15px;
}
.vc-platform-indicator svg[aria-label="Web"] {
  max-width: 15px;
  max-height: 15px;
}

/* Fix colors */
.theme-dark .container-1um7CU {
  background-color: inherit;
}

/* Title images */

.theme-dark .themed-Hp1KC_ {
  background-image: var(--title-bg-image) !important;
  background-position: 312px 22px;
  background-attachment: fixed !important;
}

.header-3OsQeK,
.searchBar-3TnChZ {
  background-image: var(--title-bg-image) !important;
  background-position: 4px;
}

.header-3OsQeK:before {
  content: "";
  background-color: rgba(255, 0, 0, 0.1);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .2s ease-out;
  opacity: 0;
}
.header-3OsQeK:hover:before {
  opacity: 1;
}
.searchBar-jGtisZ,
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: hsl(var(--primary-700-hsl)/0.5);
  backdrop-filter: blur(5px);
  border: 1px solid hsl(var(--primary-360-hsl)/0.1);
}

.scrollableContainer-15eg7h {
  background-color: transparent;
}

.channelTextArea-1FufC0 {
  background-color: hsl(var(--primary-700-hsl)/1);;
  border: 1px solid hsl(var(--primary-360-hsl)/0.1);
}

.bg-1QIAus,
.guilds-2JjMmN,
.resizeHandle-PBRzPC {
  background-image: var(--primary-bg-image);
}

.guilds-2JjMmN {
  background-position: 0px 144px;
}

.resizeHandle-PBRzPC {
  background-attachment: fixed;
  background-position: 0px 144px;
}

.theme-dark .scroller-WSmht3 .content-yjf30S,
.theme-dark .scroller-WSmht3,
.scroller-1ox3I2 .content-yjf30S,
.scroller-1ox3I2,
.members-3WRCEx .content-yjf30S,
.members-3WRCEx,
.container-2o3qEW  {
  background-image: var(--sidebar-bg-image);
}

.chatContent-3KubbW,
.tabBody-2dgbAs,
.container-1oAagU,
.scroller-kQBbkU::-webkit-scrollbar-track,
.tabBody-2dgbAs .scrollerBase-1Pkza4::-webkit-scrollbar-track,
.container-3wLKDe,
.container-3wLKDe .scrollerBase-1Pkza4::-webkit-scrollbar-track {
  background-color: var(--chat-background);
}

.scroller-kQBbkU::-webkit-scrollbar-thumb,
.tabBody-2dgbAs .scrollerBase-1Pkza4::-webkit-scrollbar-thumb,
.container-3wLKDe .scrollerBase-1Pkza4::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

.theme-dark .form-3gdLxP:before {
  display: none;
}


.member-2gU6Ar {
    background: transparent;
}

.container-2o3qEW .container-q97qHp:nth-child(2) {
    margin-top: 50px;
}

.embedFull-1HGV2S,
.mainCard-3KBsBI,
.matchingPostsRow-2IiEQ1,
.content-3spvdd,
.container-3i3IzO,
.wrapper-2vIMkT {
    background: hsl(var(--primary-560-hsl)/0.4);
}

.wrapper-2vIMkT {
    backdrop-filter: blur(10px);
}

.mainCard-3KBsBI:hover {
    background: hsl(var(--primary-560-hsl)/0.7);
}
.container-3YcgdM {
    background: hsl(var(--primary-500-hsl)/0.48);
}

.scroller-1ox3I2::-webkit-scrollbar-thumb,
.container-2o3qEW .scrollerBase-1Pkza4::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-scrollbar-thumb-color);
}

.chatContent-3KubbW {
    background-image: var(--octagram-image);
    background-position: center;
    background-repeat: no-repeat;
}